<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612845572530-e8plmp679318e0gb4jnk42nmbe3rbbbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612845572530-e8plmp679318e0gb4jnk42nmbe3rbbbk</string>
	<key>API_KEY</key>
	<string>AIzaSyAYrVGKOBVuvTNYu0uMA37c9Wd3gCp2Q8c</string>
	<key>GCM_SENDER_ID</key>
	<string>612845572530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>user.Travel2</string>
	<key>PROJECT_ID</key>
	<string>travel2-bc7eb</string>
	<key>STORAGE_BUCKET</key>
	<string>travel2-bc7eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612845572530:ios:0349b1aecbcaaadbda14ab</string>
	<key>DATABASE_URL</key>
	<string>https://travel2-bc7eb.firebaseio.com</string>
</dict>
</plist>